<div class="card">
            <div class="card-body">
              <h5 class="card-title">Department Form</h5>

              <!-- Floating Labels Form -->
              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Department ID">
                    <label for="floatingName">Department ID</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingEmail" placeholder="Department Name">
                    <label for="floatingEmail">Department Name</label>
                  </div>
                </div>
              </form><!-- End floating Labels Form -->

            </div>
          </div>