body{
    font-family:'Courier New', Courier, monospace;
}
*.body{
    box-sizing: border-box;
}
.margin{
    margin: 0px 20px;
    border: 2px solid rgb(44, 44, 44);
}

.header{
    background-color: rgb(44, 44, 44);
    height: 100px;
    padding: 20px 0px 50px 10px;
}
.h1{
    color: white;
    font-size: xx-large;
    letter-spacing: 1px;
    font-weight: bold;
}
.h2{
    color: white;
    
}

.left{
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 24px;
    width: 30%;
    float: left;
    border-left: 2px solid rgb(211, 211, 211);
    
}

.center{
    margin-right: 20px;
    padding: 50px;

    width: 59%;
    float: right;
    border-right: 2px solid rgb(211, 211, 211);
    
}
.ch1{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}
.cc1{
    padding-left: 10px;
}
.cbox{
    margin-left: 75px;
    background-color: rgb(238, 238, 238);
    padding-left: 20px;
    border-top: 2px solid rgb(227, 227, 227);
    border-bottom: 2px solid rgb(227, 227, 227);
} 
.footer{
    text-align: center;
    float: left;
    padding: 5px;
    width: 96.455%;
}
.footer a{
    border-right: 2px solid rgb(211, 211, 211);
    padding-right: 5px;
}
.link{
    color: red;
    
}