.mainPage{
    height: 10vh;
}
.mainPage img{
    position: absolute;
    height: 65px;
    width: 250px;
    width: 20%;
}
.menuup{
    background-color: black;
    color: white;
    padding: 20px 20px;
    float: right;
    width: 80%;
}
.dropdownmenu{

}
.dropbtn{

}
.menuup:: :hover

.page2{
 
}

.sideLine{

}

.placementHighlights{

}

.newsAndActivity{

}

.about{

}