@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*
    views ni ander controller folder hovu jruri che
    controller je name nu hoy a name nu view folder hovu joe e
    controller sufix hovu joe
*@